.page-header
  = link_to new_event_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Event

%h1 Search
= search_form_for @search do |f|
  = f.label :name_cont
  = f.text_field :name_cont
  = f.label :description_cont
  = f.text_field :description_cont
  = f.label :date_start_eq
  = f.date_select :date_start_eq
  = f.submit
  %h1 Listing events

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Date start
        %th Description
        %th Invite_start
        %th Invite_end
        %th Member_min
        %th Member_max
        %th Time_limit
        %th Take_part
        %th Public_list
        %th
        %th
        %th

    %tbody
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.date_start
          %td= event.description
          %td= event.invite_start
          %td= event.invite_end
          %td= event.member_min
          %td= event.member_max
          %td= event.time_limit
          %td= event.take_part
          %td= event.public_list
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, :data => { confirm: 'Are you sure?' }, :method => :delete
=paginate @events